.container {
  background-color: rgb(191, 0, 255);
  min-height: 100vh;
  width: 100%;
  padding: 16px;
}

.center-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(191, 0, 255);
  padding: 20px;
  border-radius: 10px;
  height: fit-content;
  color: white;
  min-height: 80vh;
  gap: 1rem;
}